<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GPS 관련 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyStudyApp"
        tools:targetApi="31">
        <activity
            android:name=".Ex20FriendsListActivity"
            android:exported="false" />
        <activity
            android:name=".Ex5DataActivity"
            android:exported="false" />
        <activity
            android:name=".Ex5DataReceiveActivity"
            android:exported="false" />
        <activity
            android:name=".Ex4GifActivity"
            android:exported="false" />
        <activity
            android:name=".Ex3AniActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntroActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".Ex1LoginActivity" />
        <activity android:name=".Ex1JoinResultActivity" />
        <activity android:name=".Ex1JoinActivity" />
        <activity android:name=".Ex2CalcActivity" />
        <activity android:name=".Ex6SpinnerActivity" />
        <activity android:name=".Ex7SwitchActivity" />
        <activity android:name=".Ex8WebViewActivity" />
        <activity android:name=".Ex9VideoViewActivity" />
        <activity android:name=".Ex10MediaActivity" />
        <activity android:name=".Ex11GalleryViewEx" />
        <activity android:name=".Ex12SoccerGameEx" />
        <activity android:name=".Ex13HadlerActivity" />
        <activity android:name=".Ex14SharedPreferencesActivity" />
        <activity android:name=".Ex15SharedPreferences2Activity" />
        <activity android:name=".Ex16FrameLayoutActivity" />
        <activity android:name=".Ex17PhoneCreate1Activity" />
        <activity android:name=".Ex18ListViewActivity" />
        <activity android:name=".Ex19PhoneCreate2ListView" />
        <activity android:name=".Ex20FriendAddActivity" />
        <activity android:name=".Ex20FriendEditActivity" />
        <activity android:name=".Ex20FriendDelActivity" />
        <activity android:name=".Ex21GpsMapEx" />
        <activity android:name=".GoogleMapSearchActivity" />
        <activity android:name=".Ex22DDayActivity" />
        <activity android:name=".Ex23TimerEx" />
        <activity android:name=".Ex24SQLiteExLogin" />
        <activity android:name=".Ex24JoinOkActivity" />
        <activity android:name=".Ex24SQLiteExJoin" />
        <activity android:name=".Ex24SQLiteMainActivity" />
        <activity android:name=".Ex25FriendAddActivity" />
        <activity android:name=".Ex25FriendEditActivity" />
        <activity android:name=".Ex25FriendDelActivity" />
        <activity android:name=".Ex25FriendsListActivity"/>
        <activity android:name=".Ex26RecyclerViewEx"/>
        <activity android:name=".Ex27RecyclerViewEx2"/>
        <activity android:name=".Ex28RecyclerViewFriends"/>
        <activity android:name=".Ex28FriendAddActivity"/>
        <activity android:name=".Ex28FriendDelActivity"/>
        <activity android:name=".Ex28FriendEditActivity"/>
        <activity android:name=".Ex29FragmentLayout"/>
        <activity android:name=".Ex30Viewpager2Ex"/>
        <activity android:name=".Ex31ImageLayoutEx"/>
        <activity android:name=".Ex32webPhpJoin"/>
        <activity android:name=".Ex32webPhpLogin"/>
        <activity android:name=".Ex32webPhpMain"/>

    </application>

</manifest>
